<div *ngIf="!joined" class="container">
  <h2>Multiplayer Chess</h2>
  <input [(ngModel)]="playerName" placeholder="Enter your name" />
  <button (click)="createGame()" [disabled]="!playerName.trim()">Create Game</button>
  <br><br>
  <input [(ngModel)]="gameId" placeholder="Game ID" />
  <button (click)="joinGame()" [disabled]="!playerName.trim() && !gameId.trim()">Join Game</button>
  <div class="available-games" *ngIf="availableGames.length > 0" >
  <h4>Available Games to Join:</h4>
  <ul class="game-list">
    <li *ngFor="let g of availableGames">
      <button (click)="joinGame(g)" [disabled]="!playerName.trim()" >{{ g }}</button>
    </li>
  </ul>
</div>

</div>

<div *ngIf="joined" class="game-container">
  <div class="board-container">
    <h3>Game ID: {{ gameId }}</h3>
    <div class="players-info">
      <div class="player-box">
        <strong>You:</strong> {{ playerName }} ({{ playerColor === 'w' ? 'White' : 'Black' }})
      </div>
      <div class="player-box">
        <strong>Opponent:</strong>
        <span *ngIf="players?.white?.playerName && players?.black?.playerName">
          {{ playerColor === 'w' ? players.black.playerName : players.white.playerName }}
          ({{ playerColor === 'w' ? 'Black' : 'White' }})
        </span>
        <span *ngIf="!players?.white?.playerName || !players?.black?.playerName">
          Waiting for opponent to join...
        </span>
      </div>
    </div>

    <div id="board1" [class.board-disabled]="!players.white?.playerName || !players.black?.playerName"></div>

    <button (click)="undoMove()">Undo</button>
    <button (click)="restartGame()">Restart</button>
  </div>

  <div class="chat-container">
    <h4>Chat</h4>
    <div class="chat-messages">
      <div *ngFor="let chat of chatMessages" [innerHTML]="chat.message"></div>
    </div>
    <div class="chat-input">
      <input [(ngModel)]="currentMessage" placeholder="Type message" />
      <button (click)="sendChatMessage()">Send</button>
    </div>
  </div>
</div>
