/* You can add global styles to this file, and also import other style files */

/* Prevent mobile rubber-band scrolling while dragging */
html, body {
  overscroll-behavior: none;
  touch-action: manipulation;
}